@import "variables";

.button {
  padding: calc($padding-default / 2) $padding-default;
  font-family: $font-inter;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  border: none;
  border-radius: $border-radius-sm;
  background-color: $btn-color;
  transition: background-color 0.3s;
  cursor: pointer;

  &:hover {
    background-color: $btn-color-dark;
  }

  &:active {
    background-color: $btn-color-super-dark;
  }
}
