//colors
$font-color: #303247;
$bg-color: #fff;
$border-color: rgba(48, 50, 71, 0.1);
$btn-color: #f6e308;
$btn-color-dark: #d3ad04;
$btn-color-super-dark: #a08304;

//fonts
$font-inter: "Inter", sans-serif;

//dimensions
$border-radius: 5px;
$padding-default: 32px;
