//colors
$font-color: #303247;
$bg-color: #fff;
$border-color: rgba(48, 50, 71, 0.1);
$overlay-color: rgba(26, 26, 26, 0.8);
$btn-color: #f6e308;
$btn-color-dark: #d3ad04;
$btn-color-super-dark: #a08304;
$label-color: #51a571;

//fonts
$font-inter: "Inter", sans-serif;

//dimensions
$border-radius-sm: 5px;
$border-radius-l: 20px;
$padding-default: 32px;
$border: 1px solid $border-color;
