@import "variables";

.loan {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: $padding-default;
  padding: $padding-default;
  border: $border;
  border-radius: $border-radius-l;

  &__title {
    margin-bottom: calc($padding-default / 2);
    font-weight: 600;
    font-size: 25px;
    line-height: 30px;
  }

  &__detail {
    margin-bottom: calc($padding-default / 3);
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
  }

  &__label {
    position: absolute;
    top: $padding-default;
    right: $padding-default;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: $label-color;
  }
}
